@page "/faq"

<PageTitle>FAQ</PageTitle>

<h3>FAQ</h3>

<h4>What is Shop Index?</h4>
<p>Shop Index is a SwitchCraft 3 shops aggregator created by <a href="https://alexdevs.me" target="_blank">AlexDevs</a></p>
<p>You can find the source code on GitHub: <a href="https://github.com/Ale32bit/ShopIndex" target="_blank">https://github.com/Ale32bit/ShopIndex</a></p>

<h4>How do I add my shop?</h4>
<p>Shops periodically broadcast ShopSync data on the modem channel 9773.</p>
<p>If your shop is not broadcasting, update the software or check the configuration according to the supplier instructions.</p>

<h4>What is ShopSync</h4>
<p><blockquote>"ShopSync is a standard for shops and "sellshops" to broadcast data in order to improve consumer price discovery and user experience."</blockquote></p>
<p>You can read about the standard in the following links:</p>
<ul>
    <li><a href="https://p.sc3.io/7Ae4KxgzAM" target="_blank">https://p.sc3.io/7Ae4KxgzAM</a></li>
    <li><a href="https://gist.github.com/Kan18/916e265fe30fac450fa69da1d6c10ee" target="_blank">https://gist.github.com/Kan18/916e265fe30fac450fa69da1d6c10ee</a></li>
</ul>

<h4>How do I setup a shop?</h4>
<p>There exist various softwares that work with Krist.</p>
<p>The followings support ShopSync:</p>
<ul>
    <li><a href="https://github.com/Allymonies/Radon" target="_blank">Radon</a></li>
    <li><a href="https://kristify.madefor.cc" target="_blank">Kristify</a></li>
    <li><a href="https://github.com/afonya2/kristed2" target="_blank">Kristed2</a></li>
</ul>
