@inject IJSRuntime JSRuntime

<a tabindex="0" @onclick="Copy" data-bs-toggle="popover" data-bs-content="Copied!" data-bs-trigger="focus">
    @ChildContent
</a>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Value { get; set; }

    private void Copy()
    {
        JSRuntime.InvokeVoidAsync("navigator.clipboard.writeText", Value);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("loadBootstrap");
        }
    }
}
