@using System.Globalization;
@inherits LayoutComponentBase

<PageTitle>Shop Index</PageTitle>

@{
    Console.WriteLine("The user culture is {0}", CultureInfo.CurrentCulture);
}


<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content p-4">
            @Body
        </article>
    </main>
</div>
