@using Humanizer;
@inject HttpClient Http

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Shop Index <span class="badge bg-danger small">Beta</span></a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi ps-1"><i class="fa-solid fa-cart-shopping"></i></span> Catalogue
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/shops" >
                <span class="oi ps-1"><i class="fa-solid fa-shop"></i></span> Shops
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="faq">
                <span class="oi ps-1"><i class="fa-solid fa-question"></i></span> FAQ
            </NavLink>
        </div>
    </nav>
</div>

@if (lastUpdate.HasValue)
{
    <div class="position-absolute bottom-0 start-0">
        <p class="ps-2 text-light">Updated @lastUpdate?.ToRelative()</p>
    </div>
}




@code {
    private bool collapseNavMenu = true;
    private DateTime? lastUpdate;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    protected override async Task OnInitializedAsync()
    {
        lastUpdate = await Http.GetFromJsonAsync<DateTime?>($"API/Sentry/LastUpdate");

    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
